@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/assets/images/Screenshot_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  box-sizing: content-box
}

::-webkit-scrollbar {
  width: 8px; /* Customize the scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Customize the scrollbar thumb */
  border-radius: 4px; /* Optional: Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Customize the scrollbar thumb on hover */
}